#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.social-links a {
  display: block;
  margin-bottom: 50px; /* Adjust the space between links as needed */
}

.social-links img {
  width: 100px;
  height: 100px;
}

.social-links img:hover {
  filter: drop-shadow(0 0 .3em #ffffffaa);
}

.social-links p {
  margin: 0;
  font-size: 2em;
  font-family: sans-serif;
  padding: 0.5em;
}

.app-container {
  display: flex;
}

.about-me, .clock-and-socials {
  flex: 1;
}

.about-me {
  text-align: center;
  padding: 0 2em;
}

.about-me p {
  font-size: 1.5em;
  line-height: 1.5;
}

.clock-and-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  font-size: 24px;
  margin-bottom: 20px; /* Adjust based on your design */
}